# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Env
.env
.venv/
venv/

# Notebook outputs / artifacts
artifacts/
outputs/
*.parquet
*.zip

# OS
.DS_Store

my_artifacts/
my_outputs/